<div class="sidebar d-block">
    <!-- Popular Categories Start -->
    <div class="sidebar-widget widget-categories-icons">
        <h5 class="widget-title">Categories</h5>
        <div class="row">
            <div class="sidebar-box" *ngFor="let item of categories ; let i = index;">
                <div class="sidebar-box-inner" (click)="goToCategory(item.id)" >
                    <a routerLink="/shop-v2/{{item.id}}">
                        <img src="{{item.thumbnailUrl}}" />
                        <h6 class="inner-box-text">{{item.name}}</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Categories End -->
    <!-- Popular Tags Start 
    <div class="sidebar-widget">
        <h5 class="widget-title">Popular Tags</h5>
        <div class="tagcloud">
            <a routerLink="/post-single/{{item.id}}" *ngFor="let item of tags">{{item.title}}</a>
        </div>
    </div>
    <!-- Popular Tags End -->
</div>