<!--Cart Start -->
<div class="section">
    <div class="container">
        <!-- Cart Table Start -->
        <table class="andro_responsive-table">
            <thead>
                <tr>
                    <th class="remove-item"></th>
                    <th>Product</th>
                    <th>Price</th>
                    <!-- TODO: Change back to quantity -->
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart; index as i;">
                    <td class="remove">
                        <button type="button" class="close-btn close-danger remove-from-cart"
                            (click)="deleteCartItem(item, i)">
                            <span></span>
                            <span></span>
                        </button>
                    </td>
                    <td data-title="Product" class="clickable" (click)="open(shopmodal, item)">
                        <div class="andro_cart-product-wrapper">
                            <!-- [src]="item."  -->
                            <img [src]="item.productInventory.product.thumbnailUrl" alt="{{ item.productName }}">
                            <div class="andro_cart-product-body">
                                <h6 class="clickable-text">{{ item.productName }}</h6>
                            </div>
                        </div>
                    </td>
                    <td data-title="Price"> <strong>PKR {{ item.productPrice | number:'1.2-2' }}</strong> </td>
                    <td class="quantity" data-title="Quantity" class="clickable" (click)="open(shopmodal, item)">
                        <!-- <input type="number" class="qty form-control" value="{{ item.quantity }}"> -->
                        <p class="clickable-text">{{ item.quantity }}</p>
                    </td>
                    <td data-title="Total"> <strong>PKR {{ item.price | number:'1.2-2' }}</strong> </td>
                </tr>
            </tbody>
        </table>
        <!-- Cart Table End -->
        <!-- Coupon Code Start -->
        <div class="row">
            <div class="col-lg-5">
                <div class="form-group mb-0">
                    <div class="input-group mb-0">
                        <input type="text" class="form-control" placeholder="Enter Coupon Code"
                            aria-label="Coupon Code">
                        <div class="input-group-append">
                            <button class="andro_btn-custom shadow-none" type="button">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Coupon Code End -->
    </div>
</div>
<!-- Cart End -->
<!-- Cart form Start -->
<div class="section pt-0">
    <div class="container">
        <div class="row andro_cart-form">
            <div class="col-lg-6 andro_upsells">
                <div class="section-title flex-title">
                    <h4 class="title">Featured Products</h4>
                    <div class="andro_arrows">
                        <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                        <i class="fa fa-arrow-right slick-arrow slider-next"></i>
                    </div>
                </div>
                <!-- Upsells Start -->
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="upsellConfig" class="andro_upsells-slider">
                    <!-- Product Start -->
                    <div ngxSlickItem
                        class="andro_product andro_product-list andro_product-has-controls andro_product-has-buttons"
                        *ngFor="let item of product">
                        <div class="andro_product-thumb">
                            <a routerLink="/product-single-v2/{{item.seoName}}"><img src="{{item.thumbnailUrl}}"
                                    alt="{{item.name}}"></a>
                        </div>
                        <div class="andro_product-body">
                            <!-- <div class="andro_rating-wrapper">
                                <div class="andro_rating">
                                    <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                        <ng-template let-fill="fill" let-index="index">
                                            <i class="fa fa-star" [class.active]="fill === 100"></i>
                                        </ng-template>
                                    </ngb-rating>
                                </div>
                                <span>{{item.rating}} Stars</span>
                            </div> -->
                            <h5 class="andro_product-title"> <a routerLink="/product-single-v2/{{item.seoName}}">
                                    {{item.name}}
                                </a> </h5>
                            <div class="andro_product-price">
                                <span *ngIf="item.discount">PKR {{item.price * (100 - item.discount) / 100 |
                                    number:'1.2-2'}}</span>
                                <span>PKR {{item.productInventories[0].price| number:'1.2-2'}}</span>
                            </div>
                            <p [innerHtml]="item.description"></p>
                        </div>
                        <div class="andro_product-footer">
                            <div class="andro_product-buttons">
                                <!-- <a routerLink="/product-single-v2/{{item.seoName}}" class="andro_btn-custom primary">Add To
                                    Cart</a> -->
                                <a routerLink="/product-single-v2/{{ item.seoName }}"
                                    class="andro_btn-custom primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->
                </ngx-slick-carousel>
                <!-- Upsells End -->
            </div>
            <div class="col-lg-6" *ngIf="cart.length > 0">
                <div class="section-title">
                    <h4 class="title">Cart Total</h4>
                </div>
                <table>
                    <tbody>
                        <!-- <tr>
                            <th>Subtotal</th>
                            <td>PKR {{ calculateSubtotal() | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                            <th>Order Discount</th>
                            <td>PKR -{{ orderDiscount }}</td>
                        </tr>
                        <tr>
                            <th>Takeaway Fee</th>
                            <td>PKR {{ takeAwayFee / 100 * calculateSubtotal() }} <span class="small">({{ takeAwayFee
                                    }}%)</span></td>
                        </tr>
                        <tr>
                            <th>Delivery Charges</th>
                            <td>PKR {{ deliveryCharges }}</td>
                        </tr>
                        <tr>
                            <th>Delivery Discount</th>
                            <td>PKR -{{ deliveryDiscount }}</td>
                        </tr> -->
                        <tr>
                            <th>Total</th>
                            <td> <b>PKR {{ calculateSubtotal() | number:'1.2-2' }}</b> </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="andro_btn-custom primary btn-block" routerLink="/checkout">Proceed to
                    Checkout</button>
            </div>
        </div>
    </div>
</div>
<!-- Cart form End -->
.
<!-- Modal Start -->
<ng-template #shopmodal let-modal>
    <div class="modal-body">
        <!-- (click)="modal.dismiss('Cross click')" -->
        <div class="close-btn close-dark close" (click)="closeModal()">
            <span></span>
            <span></span>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="andro_product">
                        <!-- <div class="andro_product-badge andro_badge-featured" *ngIf="modalContent.featured">
                            <i class="fa fa-star"></i>
                            <span>Featured</span>
                        </div>
                        <div class="andro_product-badge andro_badge-sale" *ngIf="modalContent.discount">
                            {{modalContent.discount}}% Off
                        </div> -->
                        <img [src]="modalContent.productInventory.product.thumbnailUrl"
                            alt="{{ modalContent.productName }}">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="andro_product-single-content">
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <!-- <ngb-rating [max]="5" [(rate)]="modalContent.rating" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i class="fa fa-star" [class.active]="fill === 100"></i>
                                    </ng-template>
                                </ngb-rating> -->
                            </div>
                            <!-- <span>{{modalContent.rating}} Stars</span> -->
                        </div>
                        <h3> {{ modalContent.productName }} </h3>
                        <div class="andro_product-price">
                            <!-- <span *ngIf="modalContent.discount">${{modalContent.price * (100 - modalContent.discount) /
                                100 |
                                number:'1.2-2'}}</span> -->
                            <span>PKR {{ modalContent.price | number:'1.2-2' }}</span>
                        </div>
                        <div>
                            <p class="andro_product-excerpt"
                                [innerHtml]="modalContent.productInventory.product.description">
                            </p>
                        </div>

                        <form class="andro_product-atc-form">
                            <!-- <div class="andro_product-variation-wrapper">
                                <div class="form-group">
                                    <select class="form-control" name="amount">
                                        <option value="">Select Amount</option>
                                        <option value="1">1 Kilo</option>
                                        <option value="2">2 Kilos</option>
                                        <option value="3">3 Kilos</option>
                                        <option value="4">4 Kilos</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="breed">
                                        <option value="">Select a Breed</option>
                                        <option value="italian">Italian</option>
                                        <option value="egyptian">Egyptian</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="qty-outter">
                                <!-- (click)="modal.dismiss('Cross click')" -->
                                <a (click)="updateCartItem(modalContent)" class="andro_btn-custom">Update Cart</a>
                                <div class="qty">
                                    <span class="qty-subtract" (click)="decrement()">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                    <input type="text" name="qty" value="{{ modalContent.quantity }}" disabled>
                                    <span class="qty-add" (click)="increment()">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal End -->