<!-- Banner Start -->
<div>
    <div class="andro_banner banner-2">
        <img class="banner-design" src="{{assets['bannerUrl']}}">
    </div>
   <!-- <img class="banner-design" src="{{assets['bannerUrl']}}"> -->
   <!-- <ngx-slick-carousel #slickModal="slick-carousel" [config]="bannerConfig" class="andro_banner-slider" >
        <div ngxSlickItem class="andro_banner-slider-inner" style="background-image: url('{{item.photo}}');"
            *ngFor="let item of bannerslides">
            <div class="container" ><img src="{{assets['bannerUrl']}}">
                <div class="andro_banner-slider-text">
                    <!--<img src="{{item.proimg}}" class="img-1" alt="{{item.title}}">
                    <p>Use code <strong class="custom-primary">{{item.couponcode}}</strong> during checkout</p>
                    <h1 style="background-image: url('{{item.ctaimg}}') "> {{item.title}} </h1>
                    <p>{{item.para}}</p>
                    
                </div>
            </div>
        </div>
    </ngx-slick-carousel>-->
</div>
<!-- Banner End -->
<!-- Categories Start -->
<div class="section section-padding category_section">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-4" *ngFor="let item of categories ; let i = index; ">
                    <div class="andro_icon-block text-center has-link" (click)="goToCategory(item.id)">
                        <a routerLink="/shop-v2/{{item.id}}">
                            <img class="cat-img" src="{{item.thumbnailUrl}}" />
                            <h5>{{item.name}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories End -->
    <!-- Fresh Arrival Start -->
   
    <!-- Products End -->
    <!-- Featured Product Start -->
    <div class="section pt-0 andro_fresh-arrivals">
        <div class="container">
            <div class="section-title flex-title">
                <h4 class="title">Featured Products</h4>
                <div class="andro_arrows">
                    <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
                    <i class="fa fa-arrow-right slick-arrow slider-next"></i>
                </div>
            </div>
            <ngx-slick-carousel #slickModal="slick-carousel" [config]="freshConfig" class="andro_fresh-arrivals-slider">
                <!-- Product Start -->

                <div ngxSlickItem class="andro_product andro_product-has-controls"
                    *ngFor="let item of product ; let i = index; ">
                    <div class="andro_product-badge andro_badge-featured" *ngIf="item.featured">
                        <i class="fa fa-star"></i>
                        <span>New</span>
                    </div>
                    <div class="andro_product-badge andro_badge-sale" *ngIf="item.discount">
                        {{item.discount}}% Off
                    </div>
                    <div class="andro_product-thumb thumb-sm">
                        <a routerLink="/product-single-v2/{{item.seoName}}"><img (click)="goToDetails(item.seoName)"
                                src="{{item.thumbnailUrl}}" alt="{{item.name}}"></a>
                    </div>
                    <div class="andro_product-body">
                        <h5 (click)="goToDetails(item.seoName)" class="andro_product-title"><a
                                routerLink="/product-single-v2/{{item.seoName}}">
                                {{item.name}} </a> </h5>
                        <div class="andro_product-price">
                            <span *ngIf="item.discount">PKR {{item.productInventories[0].price * (100 - item.discount) /
                                100
                                |
                                number:'1.2-2'}}</span>
                            <span>PKR {{item.productInventories[0].price| number:'1.2-2'}}</span>
                        </div>
                        <!--<div class="andro_rating-wrapper">
                                    <div class="andro_rating">
                                        <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                            <ng-template let-fill="fill" let-index="index">
                                                <i class="fa fa-star" [class.active]="fill === 100"></i>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                    <span>{{item.rating}} Stars</span>
                                </div>-->
                    </div>
                    <div class="andro_product-footer">
                        <div class="andro_product-controls">
                            <!-- <a routerLink= "/product-single-v2/{{item.seoName}}">
                                <i ngbTooltip="Add To Cart" placement="top" class="flaticon-shopping-basket"></i>
                            </a> -->
                            <a href="javascript:void(0)" (click)="open(shopmodal, item)">
                                <i ngbTooltip="Quick View" placement="top" class="flaticon-view"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Product End -->
            </ngx-slick-carousel>
        </div>
    </div>
    <!-- Products End -->
    <ng-template #shopmodal let-modal>
        <div class="modal-body">
            <!-- (click)="modal.dismiss('Cross click')" -->
            <div class="close-btn close-dark close" (click)="closeModal()">
                <span></span>
                <span></span>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="andro_product">
                            <!-- <div class="andro_product-badge andro_badge-featured" *ngIf="modalContent.featured">
                            <i class="fa fa-star"></i>
                            <span>Featured</span>
                        </div>
                        <div class="andro_product-badge andro_badge-sale" *ngIf="modalContent.discount">
                            {{modalContent.discount}}% Off
                        </div> -->
                            <img [src]="modalContent.thumbnailUrl" alt="{{modalContent.name}}">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="andro_product-single-content">
                            <div class="andro_rating-wrapper">
                                <div class="andro_rating">
                                    <!-- <ngb-rating [max]="5" [(rate)]="modalContent.rating" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i class="fa fa-star" [class.active]="fill === 100"></i>
                                    </ng-template>
                                </ngb-rating> -->
                                </div>
                                <!-- <span>{{modalContent.rating}} Stars</span> -->
                            </div>
                            <h3> {{modalContent.name}} </h3>
                            <div class="andro_product-price">
                                <!-- <span *ngIf="modalContent.discount">${{modalContent.price * (100 - modalContent.discount) /
                                100 |
                                number:'1.2-2'}}</span> -->
                            <span>PKR {{modalContent.productInventories[0].price| number:'1.2-2'}}</span>
                        </div>
                        <div [innerHtml]="modalContent.description"></div>
                        <!-- <p class="andro_product-excerpt">
                            {{modalContent.description}}
                        </p> -->
                        <form class="andro_product-atc-form">
                            <!-- <div class="andro_product-variation-wrapper">
                                <div class="form-group">
                                    <select class="form-control" name="amount">
                                        <option value="">Select Amount</option>
                                        <option value="1">1 Kilo</option>
                                        <option value="2">2 Kilos</option>
                                        <option value="3">3 Kilos</option>
                                        <option value="4">4 Kilos</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="breed">
                                        <option value="">Select a Breed</option>
                                        <option value="italian">Italian</option>
                                        <option value="egyptian">Egyptian</option>
                                    </select>
                                </div>
                            </div> -->
                                <div class="qty-outter">
                                    <!-- (click)="modal.dismiss('Cross click')" -->
                                    <!-- TODO: Add To Cart -->
                                    <a (click)="addToCartFromModal(modalContent)" class="andro_btn-custom">Add to
                                        Fart</a>
                                    <div class="qty">
                                        <span class="qty-subtract" (click)="decrement()">
                                            <i class="fa fa-minus"></i>
                                        </span>
                                        <input type="text" name="qty" value="{{counter}}">
                                        <span class="qty-add" (click)="increment()">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>