<app-preloader [isLoading]="isLoading"></app-preloader>

<div class="andro_banner banner-2">
  <ngx-slick-carousel
    #slickModal="slick-carousel"
    [config]="bannerConfig"
    class="andro_banner-slider"
  >
    <div ngxSlickItem *ngFor="let item of bannerslides">
      <div>
        <div class="banner-design">
          <img class="banner-design" [src]="item.photo" />
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
<!-- Categories Start -->
<div class="section section-padding category_section">
  <div>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-2 col-md-6 col-sm-4"
          *ngFor="let item of categories; let i = index"
        >
          <div class="andro_icon-block text-center has-link">
            <a routerLink="/catalogue/{{ item.id }}">
              <img class="cat-img" src="{{ item.thumbnailUrl }}" />
              <h5 class="category-name">{{ item.name }}</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories End -->
  <!--Discount Start -->
  <div class="section pt-0">
    <div class="container">
      <ngx-slick-carousel
        #slickModal="slick-carousel"
        class="andro_banner-slider"
        [config]="discountConfig"
      >
        <div ngxSlickItem *ngFor="let discount of discounts">
          <img class="banner-design2" [src]="bannerUrl" />
          <div class="row align-items-center">
            <div class="col-lg-6 d-none d-lg-block" style="margin-left: 50px">
              <h1 style="color: white; margin-top: -255px">
                {{ discount.discountName }}
              </h1>
              <span style="font-weight: 200; color: white">
                {{ discount.startDate | date: "longDate" }} to
                {{ discount.endDate | date: "longDate" }}</span
              >
              <h4 style="color: white">
                <mat-icon
                  *ngIf="discount.discountType === 'SHIPPING'"
                  aria-label="Example Home Icon"
                  class="micon"
                >
                  delivery_dining</mat-icon
                >
                <mat-icon
                  *ngIf="discount.discountType === 'TOTALSALES'"
                  aria-label="Example Home Icon"
                  class="micon"
                >
                  receipt_long</mat-icon
                >
                <mat-icon
                  *ngIf="discount.discountType === 'ITEM'"
                  aria-label="Example Home Icon"
                  class="micon"
                >
                  tag</mat-icon
                >
              </h4>
              <span
                style="font-weight: 200; color: white"
                *ngIf="discount.calculationType === 'PERCENT'"
              >
                {{ discount.discountAmount }}% Off on order above
                {{ currencySymbol }} {{ discount.startTotalSalesAmount }}</span
              >
              <span
                style="font-weight: 200; color: white"
                *ngIf="discount.calculationType === 'FIX'"
              >
                {{ currencySymbol }} {{ " " + discount.discountAmount }} Off on
                order above {{ currencySymbol }}
                {{ discount.startTotalSalesAmount }}
              </span>
              <span
                *ngIf="discount.maxDiscountAmount"
                style="font-weight: 200; color: white; font-size: xx-small"
              >
                (Capped at {{ currencySymbol }}
                {{ discount.maxDiscountAmount }} )</span
              >
              <p style="font-weight: 200; color: white">
                Discount automatically applied on all orders at check out.
              </p>
              <a routerLink="/catalogue/all" class="andro_btn-custom2 light"
                >Shop Now</a
              >
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <!-- Discount End -->
  <!-- Fresh Arrival Start -->

  <!-- Products End -->
  <!-- Featured Product Start -->
  <div class="section pt-0 andro_fresh-arrivals">
    <div class="container">
      <div class="section-title flex-title">
        <h4 class="title">Featured Products</h4>
        <div class="andro_arrows">
          <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
          <i class="fa fa-arrow-right slick-arrow slider-next"></i>
        </div>
      </div>
      <ngx-slick-carousel
        #slickModal="slick-carousel"
        [config]="freshConfig"
        class="andro_fresh-arrivals-slider"
      >
        <!-- Product Start -->

        <div
          ngxSlickItem
          class="andro_product andro_product-has-controls"
          *ngFor="let item of product; let i = index"
        >
          <div
            class="andro_product-badge andro_badge-featured"
            *ngIf="item.featured"
          >
            <i class="fa fa-star"></i>
            <span>New</span>
          </div>
          <div
            class="andro_product-badge andro_badge-sale"
            *ngIf="item.productInventories[0].itemDiscount"
          >
            {{ item.productInventories[0].itemDiscount.discountAmount }}% Off
          </div>
          <div class="andro_product-thumb thumb-sm">
            <a routerLink="/product/{{ item.seoName }}"
              ><img src="{{ item.thumbnailUrl }}" alt="{{ item.name }}"
            /></a>
          </div>
          <div class="andro_product-body">
            <!-- (click)="goToDetails(item.seoName)" -->
            <h5 class="andro_product-title" style="height: 60px">
              <a routerLink="/product/{{ item.seoName }}"> {{ item.name }} </a>
            </h5>
            <div
              class="andro_product-price"
              *ngIf="item.productInventories.length > 0"
            >
              <span *ngIf="item.productInventories[0].itemDiscount">
                {{ currencySymbol }}
                {{
                  item.productInventories[0].itemDiscount.discountedPrice
                    | number: "1.2-2"
                }}
              </span>
              <span>
                {{ currencySymbol }}
                {{ item.productInventories[0].price | number: "1.2-2" }}
              </span>
            </div>
            <!--<div class="andro_rating-wrapper">
                    <div class="andro_rating">
                        <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                  <ng-template let-fill="fill" let-index="index">
                              <i class="fa fa-star" [class.active]="fill === 100"></i>
                          </ng-template>
                      </ngb-rating>
                   </div>
                 <span>{{item.rating}} Stars</span>
              </div>-->
          </div>
          <div class="andro_product-footer">
            <div class="andro_product-buttons">
              <!-- <a routerLink= "/product/{{item.seoName}}">
                                <i ngbTooltip="Add To Cart" placement="top" class="flaticon-shopping-basket"></i>
                            </a> -->
              <a
                href="javascript:void(0)"
                (click)="open(shopmodal, item)"
                class="andro_btn-custom light"
                >Quick View</a
              >
            </div>
          </div>
        </div>
        <!-- Product End -->
      </ngx-slick-carousel>
    </div>
  </div>
  <!-- Products End -->
</div>

<!-- Modal Start -->
<ng-template #shopmodal let-modal>
  <div class="modal-body">
    <!-- (click)="modal.dismiss('Cross click')" -->
    <div class="close-btn close-dark close" (click)="closeModal()">
      <span></span>
      <span></span>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="andro_product">
            <!-- <div class="andro_product-badge andro_badge-featured" *ngIf="modalContent.featured">
                            <i class="fa fa-star"></i>
                            <span>Featured</span>
                        </div> -->
            <div
              class="andro_product-badge andro_badge-sale"
              *ngIf="modalContent.productInventories[0].itemDiscount"
            >
              {{
                modalContent.productInventories[0].itemDiscount.discountAmount
              }}% Off
            </div>
            <img
              [src]="modalContent.thumbnailUrl"
              alt="{{ modalContent.name }}"
            />
          </div>
        </div>
        <div class="col-md-7">
          <div class="andro_product-single-content">
            <div class="andro_rating-wrapper">
              <div class="andro_rating">
                <!-- <ngb-rating [max]="5" [(rate)]="modalContent.rating" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i class="fa fa-star" [class.active]="fill === 100"></i>
                                    </ng-template>
                                </ngb-rating> -->
              </div>
              <!-- <span>{{modalContent.rating}} Stars</span> -->
            </div>
            <h3>{{ modalContent.name }}</h3>
            <div class="andro_product-price">
              <span *ngIf="modalContent.productInventories[0].itemDiscount">
                {{ currencySymbol }}
                {{
                  modalContent.productInventories[0].itemDiscount
                    .discountedPrice | number: "1.2-2"
                }}</span
              >
              <span
                >{{ currencySymbol }}
                {{ modalContent.productInventories[0].price | number: "1.2-2" }}
              </span>
            </div>
            <div>
              <p
                class="andro_product-excerpt"
                [innerHtml]="modalContent.description"
              >
                {{ modalContent.description }}
              </p>
            </div>
            <form class="andro_product-atc-form">
              <div class="qty-outter">
                <!-- (click)="modal.dismiss('Cross click')" -->
                <button
                  (click)="addToCartFromModal(modalContent)"
                  class="andro_btn-custom"
                  >Add to Cart</button
                >
                <div class="qty">
                  <span class="qty-subtract" (click)="decrement()">
                    <i class="fa fa-minus"></i>
                  </span>
                  <input
                    type="text"
                    name="qty"
                    value="{{ counter }}"
                    disabled
                  />
                  <span class="qty-add" (click)="increment()">
                    <i class="fa fa-plus"></i>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal End -->
