<!-- Products Start -->
<div class="section">
    <div class="andro_section-fw">
        <div class="row">
            <div class="col-lg-9">
                <!-- Product Count & Orderby Start -->
                <div class="andro_shop-global">
                    <p>Showing <b>{{name}}</b> products </p>
                    <select name="sortId" class="form-control-1" [(ngClass)]="sortId" (change)="sortByValue()">
                        <option value="0">Default sorting</option>
                        <option value="1">Cheapest</option>
                        <option value="2">Most Expensive</option>
                        <option value="3">Name A-Z</option>
                        <option value="4">Name Z-A</option>
                        <option value="4">Most Recent</option>
                    </select>
                </div>
                <!-- Product Count & Orderby End -->
                <div class="row masonry">
                    <!-- Product Start -->
                    <div class="wrapper">
                    <div class="overlay" *ngIf="isLoading">
                        <div class="spinner-wrapper">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-6 masonry-item"
                    
                        *ngFor="let item of product | paginate: { itemsPerPage: 9, currentPage: page } ; let i = index ">
                        <div
                            class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                            <div class="andro_product-badge andro_badge-featured" *ngIf="item.featured">
                                <i class="fa fa-star"></i>
                                <span>Featured</span>
                            </div>
                            <div class="andro_product-badge andro_badge-sale" *ngIf="item.productInventories[0].itemDiscount">
                                {{item.productInventories[0].itemDiscount.discountAmount}}% Off
                            </div>
                            <div class="andro_product-thumb">
                                <a routerLink="/product/{{item.seoName}}"><img src="{{item.thumbnailUrl}}"
                                        alt="{{item.name}}"></a>
                            </div>
                            <div class="andro_product-body">
                                <h6 class="andro_product-title"><a routerLink="/product/{{item.seoName}}">
                                        {{item.name}} </a></h6>
                                <!--RATING 
                                    <div class="andro_rating-wrapper">
                                    <div class="andro_rating">
                                        <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true">
                                            <ng-template let-fill="fill" let-index="index">
                                                <i class="fa fa-star" [class.active]="fill === 100"></i>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                </div>-->
                            </div>
                            <div class="andro_product-footer">
                                <div class="andro_product-price">
                                    <span *ngIf="item.productInventories[0].itemDiscount">
                                        {{ currencySymbol }}  {{item.productInventories[0].itemDiscount.discountedPrice |
                                        number:'1.2-2'}}
                                    </span>
                                    <span> {{ currencySymbol }}  {{item.productInventories[0].price| number:'1.2-2'}}</span>
                                </div>
                                <div class="andro_product-buttons">
                                    <!-- <a routerLink="/product-single/{{item.id}}" class="andro_btn-custom primary">Add To
                                        Cart</a>
                                    <a href="javascript:void(0)" (click)="open(shopmodal, item)"
                                        class="andro_btn-custom light">Quick View</a> -->
                                    <a href="javascript:void(0)" (click)="open(shopmodal, item)"
                                        class="quick-view-btn light">Quick View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product End -->
                </div>
                <!-- Pagination Start -->
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
                <!-- Pagination End -->
            </div>
            <!-- Sidebar Start -->
            <div class="col-lg-3">
                <div class="sidebar">
                    <!-- Search Start -->
                    <div class="sidebar-widget widget-search">
                        <!-- <form method="post"> -->
                            <div class="andro_search-adv-input">
                                <input type="text" class="form-control" placeholder="Look for Products" name="search"
                                    value="" autocomplete="off">
                                <button type="submit" name="button"><i class="fa fa-search"></i></button>
                            </div>
                        <!-- </form> -->
                    </div>
                    <!-- Search End -->
                    <!-- Filter: Categories Start -->
                    <div class="sidebar-widget">
                        <h5 class="widget-title"> Category </h5>
                        <div class="sidebar-widget-list">
                            <div id="CategoryList">
                                <div id="allcategory">
                                    <div class="card-button">
                                        <a (click)="getAllProduct()"
                                            [ngClass]="{'selected' : this.selectedMenu === 'all'}" id="price">All</a>
                                    </div>
                                </div>
                                <!--<li>
                                <div class="custom-control custom-checkbox">
                                    <input type="radio" (click)="getAllProduct()" [ngClass]="{'selected' : this.selectedMenu === 'all'}" class="custom-control-input" id="category">
                                    <label class="custom-control-label" for="category">All Products</label>
                                </div>
                            </li>-->
                                <div *ngFor="let item of categories">
                                    <div class="card-button">
                                        <a (click)="getProductsByCategory(item.id,sortBy)"
                                            [ngClass]="{'selected' : this.selectedMenu === item.id}" id="price">{{
                                            item.name }}</a>
                                    </div>
                                    <!--<div class="custom-control custom-checkbox">
                                    <input type="radio" (click)="getProduct()" [ngClass]="{'selected' : this.selectedMenu === item.id}" class="custom-control-input" id="category{{item.id}}">
                                    <label class="custom-control-label" for="category{{item.id}}">{{item.name}}</label>
                                </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Products End -->
<!-- Modal Start -->
<ng-template #shopmodal let-modal>
    <div class="modal-body">
        <!-- (click)="modal.dismiss('Cross click')" -->
        <div class="close-btn close-dark close" (click)="modal.dismiss('Cross click')">
            <span></span>
            <span></span>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="andro_product">
                        <!-- <div class="andro_product-badge andro_badge-featured" *ngIf="modalContent.featured">
                            <i class="fa fa-star"></i>
                            <span>Featured</span>
                        </div> -->
                        <div class="andro_product-badge andro_badge-sale" *ngIf="modalContent.productInventories[0].itemDiscount">
                            {{modalContent.productInventories[0].itemDiscount.discountAmount}}% Off
                        </div>
                        <img [src]="modalContent.thumbnailUrl" alt="{{modalContent.name}}">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="andro_product-single-content">
                        <div class="andro_rating-wrapper">
                            <div class="andro_rating">
                                <!-- <ngb-rating [max]="5" [(rate)]="modalContent.rating" [readonly]="true">
                                    <ng-template let-fill="fill" let-index="index">
                                        <i class="fa fa-star" [class.active]="fill === 100"></i>
                                    </ng-template>
                                </ngb-rating> -->
                            </div>
                            <!-- <span>{{modalContent.rating}} Stars</span> -->
                        </div>
                        <h3> {{modalContent.name}} </h3>
                        <div class="andro_product-price">
                            <span *ngIf="modalContent.productInventories[0].itemDiscount">
                                {{ currencySymbol }}   {{modalContent.productInventories[0].itemDiscount.discountedPrice|
                                number:'1.2-2'}}</span>
                            <span> {{ currencySymbol }}  {{modalContent.productInventories[0].price| number:'1.2-2'}}</span>
                        </div>
                        <div>
                            <p class="andro_product-excerpt" [innerHtml]="modalContent.description">
                                {{modalContent.description}}
                            </p>
                        </div>
                        <form class="andro_product-atc-form">
                            <!-- <div class="andro_product-variation-wrapper">
                                <div class="form-group">
                                    <select class="form-control" name="amount">
                                        <option value="">Select Amount</option>
                                        <option value="1">1 Kilo</option>
                                        <option value="2">2 Kilos</option>
                                        <option value="3">3 Kilos</option>
                                        <option value="4">4 Kilos</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="breed">
                                        <option value="">Select a Breed</option>
                                        <option value="italian">Italian</option>
                                        <option value="egyptian">Egyptian</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="qty-outter">
                                <!-- (click)="modal.dismiss('Cross click')" -->
                                <a (click)="addToCartFromModal(modalContent)" class="andro_btn-custom">Add to Cart</a>
                                <div class="qty">
                                    <span class="qty-subtract" (click)="decrement()">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                    <input type="text" name="qty" value="{{counter}}" disabled>
                                    <span class="qty-add" (click)="increment()">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal End -->