<ul>
    <!-- Level 1 -->
    <li class="andro_category-mm-item andro_category-mm-item-has-children">
        <ul class="andro_category-mm-2-cols">
            <!-- Level 2 -->
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/1.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Food</h6>
                        <p>Experience organic food like never before</p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Vegetables & Fruits</a> </li>
                    <li> <a href="#">Dairy</a> </li>
                    <li> <a href="#">Vegan Dairy</a> </li>
                    <li> <a href="#">Meats & Fish</a> </li>
                    <li> <a href="#">Breads & Cereal</a> </li>
                    <li> <a href="#">Honey</a> </li>
                    <li> <a href="#">Jam & Spreads</a> </li>
                    <li> <a href="#">Legumes</a> </li>
                    <li> <a href="#">Oils</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Beans</a> </li>
                    <li> <a href="#">Vegan Food</a> </li>
                    <li> <a href="#">Distillates</a> </li>
                    <li> <a href="#">Eggs</a> </li>
                    <li> <a href="#">Snacks</a> </li>
                    <li> <a href="#">Syrups</a> </li>
                    <li> <a href="#">Pickles</a> </li>
                    <li> <a href="#">Wines & Spirit</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="andro_category-mm-item"> <a href="#"> Keto</a> </li>
    <li class="andro_category-mm-item andro_category-mm-item-has-children">
        <a href="#"> Baskets </a>
        <ul class="andro_category-mm-2-cols">
            <!-- Level 2 -->
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/2.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>Baskets</h6>
                        <p>Hand made baskets for your organic goods</p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Vegetables & Fruits</a> </li>
                    <li> <a href="#">Dairy</a> </li>
                    <li> <a href="#">Vegan Dairy</a> </li>
                    <li> <a href="#">Meats & Fish</a> </li>
                    <li> <a href="#">Breads & Cereal</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Honey</a> </li>
                    <li> <a href="#">Jam & Spreads</a> </li>
                    <li> <a href="#">Legumes</a> </li>
                    <li> <a href="#">Oils</a> </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="andro_category-mm-item"> <a href="#"> Baby & Kids Care</a> </li>
    <li class="andro_category-mm-item"> <a href="#"> Home Care</a> </li>
    <li class="andro_category-mm-item"> <a href="#"> Supplements</a> </li>
    <li class="andro_category-mm-item"> <a href="#"> Beauty Care</a> </li>
    <li class="andro_category-mm-item andro_category-mm-item-has-children andro_category-mm-item-expand">
        <a href="#"> <i class="fas fa-plus"></i> More Categories</a>
        <ul class="andro_category-mm-2-cols">
            <!-- Level 2 -->
            <li>
                <div class="andro_category-mm-banner">
                    <img src="assets/img/megamenu/3.jpg" alt="megamenu img">
                    <div class="andro_category-mm-banner-desc">
                        <h6>More Categories</h6>
                        <p>Explore more categories that we offer</p>
                    </div>
                </div>
                <ul>
                    <li> <a href="#">Vegetables & Fruits</a> </li>
                    <li> <a href="#">Dairy</a> </li>
                    <li> <a href="#">Vegan Dairy</a> </li>
                    <li> <a href="#">Meats & Fish</a> </li>
                    <li> <a href="#">Breads & Cereal</a> </li>
                </ul>
                <ul>
                    <li> <a href="#">Honey</a> </li>
                    <li> <a href="#">Jam & Spreads</a> </li>
                    <li> <a href="#">Legumes</a> </li>
                    <li> <a href="#">Oils</a> </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>