.Store-Contact{
    padding-left: 0px;
    text-align: center;
}
.stN{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 45px;
}
.ctU{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 25px;
}